.contacts {
  margin-bottom: 160px;
  .contact-elem {
    display: grid;
    grid-template-rows: 1fr 1fr;
    .contact_row {
      padding: 45px 25px;
      &:first-child {
        background-color: $blue;
      }
      &:last-child {
        background-color: #fff;
      }
      .contact__social {
        .social__header {
          font-family: 'Ubuntu', sans-serif;
          font-size: 1.4rem;
          text-transform: lowercase;
          font-weight: bold;
          letter-spacing: 2px;
        }
        .social__items {
          .social__item {
            .social__img {
              width: auto;
              height: 30px;
            }
          }
        }
      }

    }
  }
  .contact__list {
    height: 100%;
    list-style: none;
    padding-left: 0;
    .contact__list-item, .contact__list-item-name {
      color: $white;
      padding: 10px 0;
      display: grid;
      grid-template-columns: 1fr 6fr;
      justify-content: start;
      align-content: center;
      align-items: center;
      justify-items: start;

      .contact__list-item_icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        &.phone {
          background-image: url("../img/icons/phone.svg");
        }
        &.email {
          background-image: url("../img/icons/email.svg");
        }
        &.address {
          background-image: url("../img/icons/addres.svg");
        }
      }
      .contact__list-item_text {
        color: $white;
        text-decoration: none;
        font-weight: bold;
        &.phone {
          font-size: 1.4rem;

        }
        &.email {

        }
        &.address {

        }
      }
    }
    .contact__list-item-name {
      grid-template-columns: 1fr;
    }
  }
}