@import "bootstrap.min.css";
@import "vars";
@import "header";
@import "slider";
@import "about";
@import "tracks";
@import "news";
@import "contacts";
@import "footer";
@import "pages/second-base-template";
@import "mobile";

body {
  font-size: 100%;
  background-color: $white;
  overflow-x: hidden;
}