@media screen and (max-width: 1399px) {
  .index-header, .second-header {
    .navbar {
      .main-menu {
        .navbar-nav {
          .nav-item {
            .nav-link {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }
  iframe {
    height: 584px;
  }
  header.second-header::after {
    right: -46%;
  }

  h1 {
    font-size: 3rem !important;
  }
  h2 {
    font-size: 2.5rem !important;
  }
  h3 {
    font-size: 1.8rem !important;
  }
  h4 {
    font-size: 1.4rem !important;
  }
  h5 {
    font-size: 1rem !important;
  }
  h6 {
    font-size: 0.9rem !important;
  }

  .main-second .main p {
    font-size: 1rem;
  }
  .main-second .main .course-info-list .course-info-list__item .course-info-list__icon {
    width: 20px;
    height: 20px;
  }
  .main-second .main .course-info-list .course-info-list__item .course-info-list__text {
    font-size: 1.2rem;
  }
  .main-second .main .course-info-list-header {
    font-size: 1.2rem;
  }
  .main-second .main .course-info-list.skills .course-info-list__item .course-info-list__text {
    font-size: 1.1rem;
  }
  .main-second .main .teacher .card-img-top {
    width: 180px;
    height: 180px;
  }
  .main-second .acide .link-return .icon {
    width: 25px;
    height: 18px;
  }
  .main-second .acide .link-return {
    padding: 10px 12px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1199px) {
  .index-header, .second-header {
    .navbar {
      .main-menu {
        .navbar-nav {
          margin-left: 10px;
          .nav-item {
            .nav-link {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  iframe {
    height: 584px;
  }
  header.second-header::after {
    right: -49%;
  }

  h1 {
    font-size: 3rem !important;
  }

  .tracks .tracks__item {
    height: 296px;
    padding: 25px;
  }

  .tracks .tracks__item .tracks__item-name {
    font-size: 1.2rem;
    letter-spacing: 3px;
  }

  .contacts .contact__list .contact__list-item .contact__list-item_text.phone, .contacts .contact__list .contact__list-item-name .contact__list-item_text.phone {
    font-size: 1.2rem;
  }
  .contacts .contact__list .contact__list-item .contact__list-item_text, .contacts .contact__list .contact__list-item-name .contact__list-item_text {
    font-size: 0.8rem;
  }

  footer .navbar .main-menu .navbar-brand .img-npo {
    width: 90px;
  }

  footer .navbar .main-menu .navbar-brand .img-120 {
    width: 270px;
  }

  footer .navbar .main-menu .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }

  footer .navbar .main-menu .navbar-nav {
    margin-left: 10px;
  }


  .main-second .main .course-info-list {
    margin-bottom: 70px;
  }

  .main-second .main p {
    font-size: 1rem;
  }

  .main-second .main .teacher .card-img-top {
    width: 150px;
    height: 150px;
  }
  .main-second .acide .link-return .icon {
    width: 25px;
    height: 18px;
  }
  .main-second .acide .link-return {
    padding: 10px 12px;
    font-size: 1rem;
    align-items: center;
    grid-gap: 15px;
  }
}

@media screen and (max-width: 991px) {
  .index-header, .second-header {
    .navbar {
      .main-menu {
        .navbar-nav {
          margin-left: 10px;
          .nav-item {
            .nav-link {
              font-size: 1rem;
              color: $blue;
            }
          }
        }
      }
    }
  }
  iframe {
    height: 584px;
  }
  header.second-header::after {
    display: none;
  }

  header.second-header .main-menu .navbar-nav {
    background-color: transparent;
  }

  h1 {
    font-size: 3rem !important;
  }

  .tracks .tracks__item {
    height: 296px;
    padding: 25px;
  }

  .tracks .tracks__item .tracks__item-name {
    font-size: 1.2rem;
    letter-spacing: 3px;
  }

  .contacts .contact__list .contact__list-item .contact__list-item_text.phone, .contacts .contact__list .contact__list-item-name .contact__list-item_text.phone {
    font-size: 1.2rem;
  }
  .contacts .contact__list .contact__list-item .contact__list-item_text, .contacts .contact__list .contact__list-item-name .contact__list-item_text {
    font-size: 0.8rem;
  }

  footer .navbar .main-menu .navbar-brand .img-npo {
    width: 90px;
  }

  footer .navbar .main-menu .navbar-brand .img-120 {
    width: 270px;
  }

  footer .navbar .main-menu .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }

  footer .navbar .main-menu .navbar-nav {
    margin-left: 10px;
  }


  .main-second .main .course-info-list {
    margin-bottom: 70px;
  }

  .main-second .main p {
    font-size: 1rem;
  }

  .main-second .main .teacher .card-img-top {
    width: 150px;
    height: 150px;
  }
  .main-second .acide .link-return .icon {
    width: 25px;
    height: 18px;
  }
  .main-second .acide .link-return {
    padding: 10px 12px;
    font-size: 1rem;
    align-items: center;
    grid-gap: 15px;
  }
  .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  header .navbar .main-menu .navbar-brand .img-npo {
    width: 60px;
  }
  header .navbar .main-menu .navbar-brand .img-120 {
    width: 210px;
  }

  .carousel-item-next, .carousel-item-prev, .carousel-item.active {
    height: 300px;
    img {
      height: 100% !important;
      object-fit: cover !important;
    }
  }

  .slider .carousel .carousel-inner .carousel-item .carousel-caption {
    display: block !important;
    left: -75px;
    bottom: 0;
    text-align: left;
    h5 {
      height: auto;
      width: 70%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 50px;
      letter-spacing: 1px;
    }
    p {
      width: 70%;
      font-size: 1rem;
      padding: 20px 20px 20px 75px;
    }
  }
  .slider .carousel .carousel-indicators {
    bottom: -10px;
    button {
      width: 10px;
      height: 10px;
    }

  }
  header .navbar .main-menu .navbar-brand {
    margin-right: 0;
  }

  header .navbar .main-menu .navbar-nav {
    margin: 25px 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  header .navbar .main-menu .navbar-nav .nav-item:nth-child(8) {
    justify-self: center;
  }
  header .navbar .main-menu .navbar-nav .nav-item:nth-child(4) {
    justify-self: center;
  }

  .news .news__link {
    padding: 30px 0;
    font-size: 1.2rem;
  }
  .news .news__link::after {
    display: none;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .main-second {
    margin-top: 0px;
    margin-bottom: 25px;
  }
  .main-second .main {
    background-color: #fff;
    padding: 50px 30px;
    position: relative;
    word-wrap: break-word;
    h1 {
      font-size: 1.4rem !important;
      margin-bottom: 40px;
    }
    h2 {
      font-size: 1.3rem !important;
      margin-bottom: 38px;
    }
    h3 {
      font-size: 1.2rem !important;
    }
    h4 {
      font-size: 1.1rem !important;
    }
    h5 {
      font-size: 1rem !important;
    }
    h6 {
      font-size: 1rem !important;
      letter-spacing: 3px;
    }

  }
  .main-second .main .teacher {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer .navbar .main-menu .navbar-brand {
    display: flex;
    flex-direction: column;
    .img-npo {
      margin-bottom: 50px;
    }
    .img-120 {
      margin-bottom: 50px;
    }
  }
  footer .navbar .main-menu .navbar-nav {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
    justify-self: start;
  }
  footer .navbar .main-menu .navbar-nav .nav-item {
    display: grid;
    justify-self: start;
  }
  footer .navbar .main-menu .navbar-nav .nav-item:nth-child(4) {
    justify-self: start;
  }
  footer .navbar .main-menu .navbar-nav .nav-item:nth-child(8) {
    justify-self: start;
  }

}