.slider {
  .container-fluid {
    padding: 0;
  }
  .carousel {
    .carousel-indicators {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      display: flex;
      justify-content: center;
      padding: 0;
      margin-right: 15%;
      margin-bottom: 1rem;
      margin-left: 15%;
      list-style: none;
      button {
        height: 15px;
        width: 15px;
        border-radius: 100%;
        border: 3px solid $blue;
      }
    }
    .carousel-inner {
      .carousel-item {
        img {
          height: 970px;
          object-fit: cover;
        }
        .carousel-caption {
          left: 0;
          bottom: 42%;
          text-align: left;
          h5 {
            height: 70px;
            width: 650px;
            background-color: $blue;
            color: $white;
            font-weight: 500;
            letter-spacing: 4px;
            font-size: 2rem;
            text-transform: lowercase;
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 150px;
            margin-bottom: 0;
          }
          p {
            background-color: rgba(255,255,255,0.85);
            height: 150px;
            width: 575px;
            margin-left: 75px;
            color: $black;
            padding: 20px 75px;
            font-weight: 300;
            letter-spacing: 1px;
            box-shadow: 13px 11px 0 0 $blue;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}